// --------------------------------------------------
// fonts family mixin

@mixin font-file($font-name, $font-weight) {
  src: url('#{$font-name}.woff') format('woff'),
       url('#{$font-name}.woff2') format('woff2'),
       url('#{$font-name}.otf') format('opentype');
  font-weight: $font-weight;
  font-display: swap;
  font-style: normal;
}

//  breakpoints mixin
@mixin respond-to($media) {
  @if $media == small {
      @media screen and (max-width: 749px) { @content; }
  } @else if $media == medium {
      @media screen and (min-width: 750px) and (max-width: 1023px) { @content; }
  } @else if $media == large {
      @media screen and (min-width: 1024px) { @content; }
  }
}

// text styles mixin
@mixin text-style($font-family, $font-size, $line-height, $font-weight, $color,$letter-spacing: 0) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
  letter-spacing: $letter-spacing;
}