// --------------------------------------------------
// fonts family mixin

@mixin font-file($font-name, $font-weight) {
  src: url('#{$font-name}.woff') format('woff'),
       url('#{$font-name}.woff2') format('woff2'),
       url('#{$font-name}.otf') format('opentype');
  font-weight: $font-weight;
  font-display: swap;
  font-style: normal;
}