.section-list-products{
    .collection__title{
        .collection__title--heading{
            font-family: $font-body;
            font-size: 62px;
            line-height: 36px;
            font-weight: 700;
            color:$color-black;
            letter-spacing: normal;
            margin: 0;
            text-transform: uppercase;

            @media screen and (max-width: 749px){
                font-size: 36px;
                line-height: 18px;
            }
        }
        &.title-wrapper{
            margin-bottom: 60px;
            @media screen and (max-width: 749px){
                margin-bottom: 30px;
            }
        }
    }
    .collection__list{
        position: relative;
        @media screen and (max-width: 749px){
            padding: 0 1.5rem;
        }
        @media screen and (min-width: 750px) and (max-width: 1023px){
            padding: 0 5rem;
        }
        @media screen and (min-width: 1024px){
            --desktop-margin-left-first-item: max(5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2));
            margin-left: var(--desktop-margin-left-first-item);
            scroll-margin-left: var(--desktop-margin-left-first-item);
        }
        .carousel__container{
            .carousel__slide{
                .product-card-wrapper{
                    .card__inner{
                        .card__content{
                            .card__badge{
                                position: absolute;
                                bottom: -16px;
                                left: 50%;
                                -webkit-transform: translateX(-50%);
                                transform: translateX(-50%);
                                .badge{
                                    font-family: $font-heading;
                                    font-weight: 900;
                                    font-size: 24px;
                                    line-height: 24px;
                                    text-transform: uppercase;
                                    border-radius: 0px;
                                    padding: 4px 16px 6px;
                                    color: $color-white;

                                    @media screen and (max-width: 749px){
                                        font-size: 20px;
                                        line-height: 20px;
                                    }
                                    &.badge-grey{
                                        background-color: $color-grey;
                                    }

                                    &.badge-red{
                                        background-color: $color-red;
                                    }

                                    &.badge-black{
                                        background-color: $color-black;
                                    }
                                }
                            }
                        }
                    }
                    .card__content{
                        .card__information{
                            padding-bottom: 3rem;
                            padding-top: 3rem;
                            .card__heading{
                                font-family: $font-body;
                                font-size: 24px;
                                line-height: 36px;
                                font-weight: 600;
                                text-align: center;
                                color:$color-black;
                                text-transform: uppercase;
                                @media screen and (max-width: 749px){
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                            }
                            .card-information{
                                font-family: $font-body;
                                font-size: 24px;
                                line-height: 36px;
                                font-weight: 600;
                                text-align: center;
                                color:$color-black;
                                @media screen and (max-width: 749px){
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                                .price{
                                    margin-top: 10px;
                                    &.price--on-sale{
                                        .price__sale{
                                            .price-item--regular{
                                                color: inherit;
                                                font-size: inherit;
                                                line-height: inherit;
                                                font-family: inherit;
                                            }
                                            .price-item--sale{
                                                color:$color-red;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
            //swiper navigation buttons
            .swiper-navigation__button{
                top: 37%;
                &::after{
                    display: none;
                }
                &.swiper-button-prev{
                    @media screen and (min-width: 1024px){
                        left: -40px;
                    }
                }
                &.swiper-button-next{
                    @media screen and (min-width: 1024px){
                        right: 40px;
                    }
                }
            }
    }
}