
.section-list-products {
    .collection__title {
        .collection__title--heading {
            @include text-style($font-body, 62px, 36px, 700, $color-black);
            text-transform: uppercase;
            margin: 0;

            @include respond-to(small) {
                @include text-style($font-body, 36px, 18px, 700, $color-black);
            }
        }

        &.title-wrapper {
            margin-bottom: 60px;

            @include respond-to(small) {
                margin-bottom: 30px;
            }
        }
    }

    .collection__list {
        position: relative;

        @include respond-to(small) {
            padding: 0 1.5rem;
        }

        @include respond-to(medium) {
            padding: 0 5rem;
        }

        @include respond-to(large) {
            --desktop-margin-left-first-item: max(5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2));
            margin-left: var(--desktop-margin-left-first-item);
            scroll-margin-left: var(--desktop-margin-left-first-item);
        }

        .carousel__container {
            .carousel__slide {
                .product-card-wrapper {
                    .card__inner {
                        .card__content {
                            .card__badge {
                                position: absolute;
                                bottom: -16px;
                                left: 50%;
                                -webkit-transform: translateX(-50%);
                                transform: translateX(-50%);
                                .badge {
                                    @include text-style($font-heading, 24px, 24px, 900, $color-white);
                                    text-transform: uppercase;
                                    border-radius: 0px;
                                    padding: 4px 16px 6px;

                                    @include respond-to(small) {
                                        @include text-style($font-heading, 20px, 20px, 900, $color-white);
                                    }

                                    &.badge-grey {
                                        background-color: $color-grey;
                                    }

                                    &.badge-red {
                                        background-color: $color-red;
                                    }

                                    &.badge-black {
                                        background-color: $color-black;
                                    }
                                }
                            }
                        }
                    }

                    .card__content {
                        .card__information {
                            padding-bottom: 3rem;
                            padding-top: 3rem;
                            .card__heading {
                                @include text-style($font-body, 24px, 36px, 600, $color-black);
                                text-align: center;
                                text-transform: uppercase;

                                @include respond-to(small) {
                                    @include text-style($font-body, 18px, 24px, 600, $color-black);
                                }
                            }

                            .card-information {
                                @include text-style($font-body, 24px, 36px, 600, $color-black);
                                text-align: center;

                                @include respond-to(small) {
                                    @include text-style($font-body, 18px, 24px, 600, $color-black);
                                }

                                .price {
                                    margin-top: 10px;

                                    &.price--on-sale {
                                        .price__sale {
                                            .price-item--regular {
                                                color: inherit;
                                                font-size: inherit;
                                                line-height: inherit;
                                                font-family: inherit;
                                            }

                                            .price-item--sale {
                                                color: $color-red;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // Swiper navigation buttons
        .swiper-navigation__button {
            top: 37%;
            z-index: 1;
            &::after {
                display: none;
            }

            &.swiper-button-prev {
                @include respond-to(large) {
                    left: -40px;
                }
            }

            &.swiper-button-next {
                @include respond-to(large) {
                    right: 40px;
                }
            }
        }
    }
}